/* register.css */

.container {
    max-width: 500px;
    margin: auto;
  }
  
  .card {
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-header {
    background-color: #f1f1f1;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    margin-top: 20px;
  }
  